 <div class="hero-unit">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple ArcelorMittal web site  website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a href="#/about" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>
<div>
	<p>Sample demo of the power of angular: Hello, {{name}}</p>
	<input type="text" ng-model="name" />
</div>